<table class="table table-striped">
    <thead>
    <tr>
        <th>Item ID</th>
        <th>Category</th>
        <th>Advert</th>
        <th>Quantity</th>
        <th>Price per unit</th>
        <th>Net Price</th>
        <th>Shipping from</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="item in shopcart">
        <td> {{item.item_id}}
        </td>
        <td> {{item.category}}
        </td>
        <td> {{item.text}}
        </td>
        <td> {{item.quant}}
        </td>
        <td> {{item.unit_price}}
        </td>
        <td>{{item.unit_price*item.quant}}
        </td>
        <td> {{item.shipping}}
        </td>
        <td> <input type="button" value="Remove from Cart" class="btn btn-primary" ng-click="remove(item.item_id)">
        </td>
    </tr>

    </tbody>
</table>

<h1> Total : {{TotalAmt}} </h1>

<div ng-hide=""><a ui-sref="checkout" class="btn btn-warning">CheckOut</a></div>